<form [formGroup]="form" novalidate class="space-y-4" (ngSubmit)="doSave()">
  <div>
    <div class="relative">
      <input
        #nameInput
        formControlName="title"
        placeholder="Enter title"
        type="text"
        class="w-full rounded bg-gray-100 border-gray-300 border-2"
      />
    </div>
  </div>

  <div class="flex flex-wrap">
    <div class="flex items-center me-4">
      <input
        id="sky-radio"
        type="radio"
        value="sky"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="sky-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-sky-500 hover:bg-sky-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center me-4">
      <input
        id="yellow-radio"
        type="radio"
        value="yellow"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="yellow-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-yellow-500 hover:bg-yellow-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center me-4">
      <input
        id="green-radio"
        type="radio"
        value="green"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="green-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-green-500 hover:bg-green-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>

    <div class="flex items-center me-4">
      <input
        id="red-radio"
        type="radio"
        value="red"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="red-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-red-500 hover:bg-red-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center me-4">
      <input
        id="violet-radio"
        type="radio"
        value="violet"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="violet-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-violet-500 hover:bg-violet-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>
    <div class="flex items-center me-4">
      <input
        id="gray-radio"
        type="radio"
        value="gray"
        name="backgroundColor"
        formControlName="backgroundColor"
        class="hidden peer"
      />
      <label
        for="gray-radio"
        class="inline-flex items-center justify-center
          w-9 h-7 text-transparent border border-gray-200 rounded cursor-pointer
          bg-gray-500 hover:bg-gray-600 peer-checked:text-white"
        >
        <fa-icon [icon]="faCheck"></fa-icon>
      </label>
    </div>

  </div>

  <div>
    <app-btn typeBtn="submit" color="success"> Create </app-btn>
  </div>
</form>
