<div class="w-screen h-screen bg-white md:bg-gray-50 relative flex justify-center items-center">
  <app-background></app-background>
  <div class="relative w-full sm:w-7/12 md:w-6/12 lg:w-4/12 m-auto max-w-[400px]">
    <div class="bg-white rounded shadow-none md:shadow-lg py-4 px-4 md:px-9">
      <app-header></app-header>
      <div class="mb-4">
        <app-login-form></app-login-form>
      </div>
      <p class=" w-full font-semibold text-base text-center text-gray-500 mb-4">Or continue with:</p>
      <div class="flex flex-col space-y-4">
        <app-social-button [iconSocial]="'google'" ></app-social-button>
        <app-social-button [iconSocial]="'microsoft'"></app-social-button>        
        <app-social-button [iconSocial]="'apple'"></app-social-button>        
        <app-social-button [iconSocial]="'slack'"></app-social-button>        
      </div>
      <div  class="mt-6 flex justify-center items-center space-x-0 space-y-2 md:space-x-2 md:space-y-0 flex-col md:flex-row">
        <a  routerLink="/forgot-password" class="text-blue-600">Can't log in?</a>
        <span class="text-gray-500 hidden md:block">•</span>
        <a routerLink="/register" class="text-blue-600">Create an account</a>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
